pkgbase = weave-merge
	pkgdesc = Entity-level semantic merge CLI. Resolves conflicts at the function/class level instead of lines.
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/Ataraxy-Labs/weave
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = glibc
	depends = libgcc
	source = weave-merge-0.3.1.tar.gz::https://github.com/Ataraxy-Labs/weave/archive/refs/tags/v0.3.1.tar.gz
	sha256sums = fb839fffb61588f40d0a83875371b9326b92ede6efb9c3c61adcc74e21891d3a

pkgname = weave-merge
