pkgbase = weave-merge
	pkgdesc = Entity-level semantic merge CLI. Resolves conflicts at the function/class level instead of lines.
	pkgver = 0.2.8
	pkgrel = 1
	url = https://github.com/Ataraxy-Labs/weave
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = glibc
	depends = libgcc
	source = weave-merge-0.2.8.tar.gz::https://github.com/Ataraxy-Labs/weave/archive/refs/tags/v0.2.8.tar.gz
	sha256sums = 531a290b42d9cef867bbceaccda43341fc6c4eecdf0f4d5c1dcf99bbe121c32e

pkgname = weave-merge
